<%= render '/shared/navbar'%>
<h1 style="text-align: center; margin-top: 50px;">Welcome to the recipe app</h1>
<div class = 'container'>
<% @recipes.each do |recipe|%>
<div class = 'recipe_container'>
<div class = 'recipe_heading'>
<%= recipe.name %>
<div class = 'btn_recipe_remove'>
<%= "By: #{recipe.user.name}" %>
</div>

</div>
<div class = 'recipe_text'>
<%=begin%>
 <p><%= @foods.count %></p>
<p><%= @total_price %></p> 
<%=end%>
<div>
<%end%>
</div>

</div>