<div class = 'new_recipe'>
<h2>Create New Recipe</h2>
<div class = "back_to_recipe">
<%= link_to 'Back to Recipes', recipes_path %>
</div>
<div class = "add_new_recipe">
<%= form_with model: @recipe do |form| %>
<%= form.label :name %>
<div class = "new_recipe_name">
  <%= form.text_field :name %>
  </div>
  <%= form.label :recipe_preparation_time %>
  <div class = "recipe_prep_time">
  <%= form.number_field :recipe_preparation_time %>
  </div>
  <%= form.label :cooking_time %>
  <div class = "cooking_time">
  <%= form.number_field :cooking_time %>
  </div>
  <%= form.label :description %>
  <div class = "description">
  <%= form.text_area :description %>
  </div>
  <%= form.label :public %>
  <div class = "public">
    <%= form.select :public, options_for_select([[ 'Yes', true ], [ 'No', false ]]) %>
  </div>

  <div class = "btn_new_recipe">
  <%= form.submit class: 'btn_add_recipe' %>
  </div>
 <% end %>
</div>
</div>