<div>

  <%if current_user.present?%>
  <div style="display: flex; justify-content: space-around; align-items: center; margin-top: 20px;" >
      <h5>
        <%= "Welcome #{current_user.name}"%>
      </h5>
      <div style="display: flex; justify-content: flex-end; margin-bottom: 20px;">
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  <%else%>
  <div style="display: flex; flex-direction: column;  justify-content: flex-end; margin-left: 50px;">
  <div class = 'login'><%= link_to 'Login', new_user_session_path %></div>
  <div class = 'sign-up'><%= link_to 'Sign-up', new_user_registration_path %></div>
  </div>
  <%end%>
  <div class="navbar-nav" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; margin-bottom: 20px;" >
  <div class = 'home navbar-item'><%= link_to 'Home', root_path %></div>
  <div class = 'food-list navbar-item'><%= link_to 'Food List', foods_path %></div>
  <div class = 'recipes-list navbar-item'><%= link_to 'Recipes List', recipes_path %></div>
  <div class = 'shopping-list navbar-item'><%= link_to 'Shopping List', shopping_lists_path %></div>
  </div>

</div>