<div>
<%= render '/shared/navbar'%>
</div>

<h1 class='text-center' style="margin-bottom: 30px;">Shopping list </h1>
<div style="display: flex; justify-content: space-around; margin-bottom: 40px;">
    <h4>Amount of food items to buy: <span><%= @foods.length %></span> </h4>
    <h4>Total value of food needed: <span>$<%= @total_price %> </span></h4>
</div>

<div class="mt-2">
    <% if @foods.length.zero? %>
      <h3 class="text-2xl font-bold text-center text-indigo-600">
       Please add your recipe first!
      </h3>
    <% else %>
      <table class="m-auto border border-slate-500">
        <thead>
          <tr>
            <th class="border border-slate-600 p-4"> Food </th>
            <th class="border border-slate-600 p-4"> Quantity </th>
            <th class="border border-slate-600 p-4"> Total Price </th>
          </tr>
        </thead>
        <tbody>
          <% @foods.each do |shopping_list| %>
            <tr>
              <td class="border border-slate-600 p-4" ><%= shopping_list[:name] %></td>
              <td class="border border-slate-600 p-4" ><%= shopping_list[:quantity] %></td>
              <td class="border border-slate-600 p-4" >$<%= shopping_list[:total_price] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%end%>
</div>